 Задание 1 Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
* оценка 2 и меньше - низкий рейтинг
* оценка 4 и меньше - средний рейтинг
* оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def ranking(rating):
    if rating <= 2.0:
        return 'низкий рейтинг'
    elif rating <= 4.0:
        return 'средний рейтинг'
    elif rating == 4.5 or rating == 5.0:
        return 'высокий рейтинг'

In [4]:
ratings['class'] = ratings['rating'].apply(ranking)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

* Задание 2
Необходимо написать гео-классификатор, который если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [9]:
keywords = pd.read_csv('ml-latest-small/keywords.csv.')
keywords.tail()

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [41]:
keywords['keyword'][10].split(' ')

['сбербанк', 'онлайн']

In [6]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [42]:
def geoloc(row):
    words = row['keyword'][0].split(' ') # разделение слов в запросе
    for key, value in geo_data.items(): 
        if words in value: # проверка на наличие в geo_data
            return key
        else:
            return 'undefined'

In [43]:
row1 = pd.DataFrame({'keyword': ['тула'], 
                     'shows': [2905]})
geoloc(row1)

'undefined'

In [ ]:
keywords['region'] = keywords.apply(geoloc, axis=1)
keywords.head()